.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set height to fill the viewport */
}

.quiz-container {
  max-width: 600px; /* Adjust max-width as needed */
  text-align: center;
}

/* Additional styles for the button */
button {
  margin-top: 20px; /* Add some space between the quiz and the button */
}
